{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prefer-es6-class": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-is-mounted": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/href-no-hash": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": 0
  }
}
